<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nautilus.mapper.AugmentsMapper">

	<select id="findByKey" parameterType="String" resultType="com.nautilus.vo.Augments">
		<!-- select * from augments where name like #{key}% or consonant like #{key}% -->
		select * from Augments where name like '%'||#{key}||'%' or consonant like '%'||#{key}||'%'
	</select>
	
</mapper>