<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nautilus.mapper.MainMapper">

	<select id="getSearch" resultType="map">
		SELECT IFNULL(MAX(korname),"nodata") AS korname,type FROM origins
		WHERE korname like #{name}
		UNION
		SELECT IFNULL(MAX(korname),"nodata") AS korname,type FROM classes
		WHERE korname like #{name}
		UNION 
		SELECT IFNULL(MAX(engname),"nodata") AS engname,type FROM champions
		WHERE korname like #{name}
	</select>
	
	<select id="getEngName" resultType="String">
		SELECT engname FROM champions
		WHERE korname=#{name}
	</select>
</mapper>