<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nautilus.mapper.SynergyMapper">

	<select id="findClassAll" resultType="com.nautilus.vo.Synergy">
		SELECT * FROM synergy WHERE type="classes" ORDER BY korname
	</select>

	<select id="findOriginAll" resultType="com.nautilus.vo.Synergy">
		SELECT * FROM synergy WHERE type="origins" ORDER BY korname ASC
	</select>
	
	<select id="findSynergyEffect" parameterType="String"
	resultType="com.nautilus.vo.SynergyEffect">
		SELECT * FROM synergyeffect WHERE korname = #{synergy} 
	</select>
	
	<select id="findClassAllName" resultType="String">
		SELECT korname FROM synergy WHERE type="classes" ORDER BY korName
	</select>

	<select id="findOriginAllName" resultType="String">
		SELECT korname FROM synergy WHERE type="origins" ORDER BY korname
	</select>
	
	<select id="getSynergySearch" resultType="com.nautilus.vo.Synergy">
		SELECT * FROM synergy
		WHERE korname like #{name}
	</select>
	
	<select id="findClass" resultType="com.nautilus.vo.Synergy">
		SELECT * FROM synergy WHERE korname = #{name}
	</select>
	
	<select id="findOrigin" resultType="com.nautilus.vo.Synergy">
		SELECT * FROM synergy WHERE korname = #{name}
	</select>
</mapper>