@charset "UTF-8";

/* 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css');

.title{
	text-align: center;
	font-family: 'Black Han Sans', sans-serif;
	font-size: 80px;

}
.title a{
	color : black;
	text-decoration: none;
}
/* 이미지 */

.img_champion{
	width: 80px;
	height: 80px;
	margin-left : 20px;
}
.img_synergy{
	width: 30px;
	height:30px;
}
.img_skill{
	width: 50px;
	height:50px;
}

#img_mana,#img_coin{
	width: 15px;
	height:15px;
}

a:hover{
	text-decoration: none;
}

/* table */

.chamtable{
	width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    padding-left: 10px;
}
.chamtable th{
	font-size: 25px;
	vertical-align: middle;
	height : 50px;
	padding: 2px;
	font-family: 'NanumGothicExtraBold';
	border: 1px solid black;
}
.chamdetail{
	margin-top:10px;
	font-size: 20px;
	color: black;
	font-weight: 500;
}
.chamname{
	color: black;
	
}
tbody > tr:nth-child(1) > th:nth-child(1){
	width: 200px;
}
tbody > tr:nth-child(1) > th:nth-child(2){
	width: 70px;
}
tbody > tr:nth-child(1) > th:nth-child(3), th:nth-child(4), th:nth-child(8){
	width: 150px;
}


tbody > tr:nth-child(1) > th:nth-child(9){
	width: 120px;
}
.chamtable td{
	vertical-align: middle;
	padding: 2px;
	border-bottom: 1px solid black;
}

#searchbar{
	float:right;
}

.synname{
	font-weight: 500;
	text-decoration: none;
	color : black;
}
