@charset "UTF-8";

/* 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css');

main{
	padding : 3px;
}
h3{
	font-size:80px;
	font-family: 'Black Han Sans', sans-serif;
}
.cheatTable{
	border:3px solid;
	width: -webkit-fill-available;
	border-radius:3px;
	border-collapse: collapse;
	text-align: center;
	margin: 30px;
}
tbody > tr:nth-child(1){
	border-bottom: 3px solid;
}
tbody > tr:nth-child(1) > td:nth-child(1){
	border-right: 3px solid;
}
th,td{
	border:1px solid;
}

.origin{
	background-color: #CED8F6;
	height: 50px;
	width: 90px;
}

.class{
	text-align: center;
}
.originName{
	word-break:break-all;
	white-space:pre-line;
	font-family: 'NanumGothicExtraBold';
	font-size: 25px;
}
.className{
	word-break:break-all;
	background-color: #CED8F6;
	font-family: 'NanumGothicExtraBold';
	font-size: 25px;
	width: 3em;
	border-right: 3px solid;
}
.synergyImage{
	width: 25px;
	height : 25px;
}
.cham{
	margin:3px;
}
.chamImage{
	height: 50px;
	width: 50px;
}
.chamKorName{
		white-space:pre-line;
	font-family: 'NanumGothicExtraBold';
	font-size: 15px;
}