@charset "UTF-8";

/* 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css');

body{
	background-color: blue;
}
/*이미지 */
.img_synergy{
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
    height: 24px;
    width: 24px;
}
.img_synergy_back{
	background-image: url(/image/etc/backimg.svg);
}
#img_coin, #img_mana{
	vertical-align: baseline;
	max-width: 15px;
	max-height: 15px;
}
#img_champion{
	width: 10%;
	height: 10%;
}