@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css');

img
{
    height:48px;
}
#itemset{
    display:flex;
    justify-content: center;
}
body.theme-dark
{
    background-color: #CCEEFF;
}

#fristitem
{
    display : flex;
    justify-content:center;
}
#bf_item-position-bottom:before, #bf_item-position-bottom:after,#bf_item-position-top:before,#bf_item-position-top:after {
    left: 50%;
}
#bf_item, #speed_item,#cn_item,#nc_item,#us_item,#gt_item,#gb_item,#gl_item,#pl_item {
    display: none;
    position: absolute;
    text-align: center;
    margin: auto;
    width: 100%;
}

.type,
.pl-2,
.effect {
    text-align: center;
}

.type > img {
    margin: 5px auto;
}

.type > div {
    margin-bottom: 5px;
    color: #401F13;
}

#collection{
    cursor: poninter;
    margin-top: 20px;
}

#item_see{
	font-size: 20px;
    font-weight : 800;
    height:48px;
    display : flex;
    justify-content : center;
    color : black;
}

th
{
    background-color: #E6E6E6;
    border: 1px solid gray;
    font-size: 30px;
}

td
{
    background-color: #F2F2F2;
    border: 1px solid #dadada;
    border-top-width: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.item_effect {
    margin: 10px;
    color: #401F13;
}

.item_text {
    padding: 5px;
}

#itemlist
{
    border: 3px solid black;
}

.explanation
{
    display:none;
}
.college
{
    color : gold;
}
.plus
{
    color : gold;
}
#bf,#speed,#cn,#nc,#us,#gt,#gb,#pl,#gl
{
    padding-right: 25px;
    cursor:pointer;
}
.container
{
    margin-top: 280px;
}

#itemlist
{

    margin: 10px;
}

.item_title {
	font-family: 'Black Han Sans', sans-serif;
    color: black;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

[data-tooltip-text]:hover {
	position: relative;
}
[data-tooltip-text]:hover:after {
	content: attr(data-tooltip-text);

    position: absolute;
	bottom: 100%;
	left: 0;

    background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	font-size: 12px;

	z-index: 9999;
}


