img
{
    height:48px;
    boederbox : 10px;
}
#itemset{
    display:flex;
    justify-content: center;
}
body.theme-dark
{
    background-color: #1E1C1C;
}

#fristitem
{
    display : flex;
    justify-content:center;
}
#bf_item-position-bottom:before, #bf_item-position-bottom:after,#bf_item-position-top:before,#bf_item-position-top:after {
    left: 50%;
}
#bf_item, #speed_item,#cn_item,#nc_item,#us_item,#gt_item,#gb_item,#gl_item,#pl_item {
    display: none;
    position: absolute;
    text-align: center;
    margin: auto;
    width: 100%;
}

.type,
.pl-2,
.effect {
    text-align: center;
}

.type > img {
    margin: 5px auto;
}

.type > div {
    margin-bottom: 5px;
    color: #401F13;
}

#collection{
    cursor: poninter;
    margin-top: 20px;
}

#item_see{
    font-weight : 800;
    boderbox : 10px;
    with:48px;
    height:48px;
    display : flex;
    justify-content : center;
    color : gold;
}

th
{
    background-color: #A5A692;
    border: 1px solid gray;
    border: 1px solid #dadada;
}
td
{
    text-margin:10px;
    background-color: #A5A692;
    border: 1px solid #dadada;
    border-top-width: 1px;
    padding-top: 3px;
    padding-bottom: 3px;


}

.item_effect {
    margin: 10px;
    color: #401F13;
}

.item_text {
    padding: 5px;
}

#itemlist
{
    border: 3px solid black;
}
#itemlist1{

}
.explanation
{
    display:none;
}
.college
{
    color : gold;
}
.plus
{
    color : gold;
}
#bf,#speed,#cn,#nc,#us,#gt,#gb,#pl,#gl
{
    padding-right: 25px;
    cursor:pointer;
}
.container
{
    margin-top: 280px;
}

#itemlist
{

    margin: 10px;
}

.item_title {
    color: #dadada;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
[data-tooltip-text]:hover {
	position: relative;
}
[data-tooltip-text]:hover:after {
	content: attr(data-tooltip-text);

    position: absolute;
	bottom: 100%;
	left: 0;

    background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	font-size: 12px;

	z-index: 9999;
}


