@charset "UTF-8";

/* 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css');

body{
	background-color: #E0F2F7;
	text-align: center;
}
.main{
	text-align: center;
	height: auto;
}
.mainImage{
	max-width:70%;
	max-height:300px;
}

.searchbar{
	text-align: center;
}

.searchbar div{
	font-size: 30px;
}