@charset "UTF-8";

/* 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css');

.main{
	text-align: center;
	height: auto;
}
.mainImage{
	max-width:80%;
	max-height:250px;
}

.searchbar{
	text-align: center;
	padding-bottom:50px;
}
.searchbar input{
	width: 300px;
}
.searchbar div{
	font-size: 30px;
}

.mediacontainer{
	position: relative;
	display: inline-block;
}