@charset "UTF-8";

/* 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css');

/* 챔피언 이미지 */
img {
 max-width: 100%;
 max-height: 100%;
}

.head{
	text-align: center;
	font-family: 'Black Han Sans', sans-serif;
}
.mainhead{
	font-size: 70px;
}
.subhead{
	display : none;
	font-size: 50px;
}
.synergyMain{
	margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    text-align: center;
}

.synergyBox{
    border: 3px solid #a0a0a0;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.synergyImage{
	height: 40px;
	box-sizing: inherit;
	width: 40px;
}

.synergyName{
	font-family: 'NanumGothicExtraBold';
	font-size: 30px;
	font-weight: bold;
	padding:3px;
	background-color: #5882FA;
	text-align : center;
	color : white;
}

.champions{
	font-family: 'NanumGothic';
	text-align : center;
	align-content: center;
	margin-top:5px;
	margin-bottom:5px;
	box-sizing:content-box;

}

.championDetail{
	display: inline-block;
	text-align: center;
	margin: 3px;
}
.chamImage{
	height: 70px;
	box-sizing: inherit;
	width: 70px;
}

.explan{
	font-size: 25px;
}
.synergyE{
	word-break:keep-all;
	font-family: 'MaruBuriBold';
	padding: 5px;
	box-sizing: content-box;
	font-size: 20px;
	text-align: center;
}

.effect{
	word-break:keep-all;
	font-family: 'MaruBuriBold';
	padding-top: 10px;
	box-sizing: content-box;
	font-size: 20px;
	text-align: center;
}

#golist{
	text-decoration: none;
	font-size: 30px;
	color: black;
}