@charset "UTF-8";
/* 글꼴 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css');
@import url('https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css');

/* 네비바가 모든 페이지에 들어가므로 */
body{
	background-color: #CCEEFF;
	text-align: center;
}
/*상단 네비게이션 바*/
.topbar-main{
	background-color: #EFF8FB;
	border-bottom: 1px solid black;
	height: 80px;
}
.navimage{
	width: 50px;
	
}
.ourBrand{
	font-family: 'NanumGothicExtraBold';
	font-size: 40px;
}
.topbar-sub{
	font-family: 'NanumGothicExtraBold';
	font-size:27px;
	color : black;
	text-decoration:none;
	padding-right: 1rem;
    padding-left: 1rem;
	margin-bottom: -1px;
}
.topbar-sub:hover{
	text-decoration:none;
}
/*상단 네비게이션 바의 시너지 드롭다운 메뉴 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dropdown{
  position : relative;
  display : inline-block;
}

.dropbtn_icon{
  font-family : 'Material Icons';
}
.dropbtn{
  border : 1px solid rgb(37, 37, 37);
  border-radius : 4px;
  background-color: #f5f5f5;
  font-weight: 400;
  color : rgb(37, 37, 37);
  padding : 12px;
  width :200px;
  text-align: left;
  cursor : pointer;
  font-size : 12px;
}
.dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 400;
  background-color: #f9f9f9;
  min-width : -webkit-fill-available;
}

.dropdown-content a{
	text-align: center;
  display : block;
  font-family: 'NanumGothicExtraBold';
  font-size: 20px;
  color : black;
  text-decoration:none;
  padding : 10px;
}

.dropdown-content a:hover{
  background-color : #ececec
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* 위로 이동 */
#gotop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}