<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>시너지-직업</title>

<!-- bootstrap css -->
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/synergy.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/topnavbar.css}" type="text/css">
</head>

<body>
<nav id="head" class="navbar navbar-expand-lg topbar-main">
  <a class="navbar-brand ourBrand" href="/main/main">노틸러스</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="topbar-sub" href="/cham/chamList">챔피언</a>
      <div class="dropdown">
      <a class="topbar-sub">시너지</a>
	      <div class="dropdown-content">
	      	<a href="/syn/classes">직 업</a>
	      	<a href="/syn/origins">계 열</a>
	      	<a href="/syn/cheat">족 보</a>
	      </div>
	  </div>
      <a class="topbar-sub" href="/item/itempage">아이템</a>
      <a class="topbar-sub" href="/agm">증강</a>
      <a class="topbar-sub" href="#">게시판</a>
    </div>
  </div>
</nav>

<main class="synergyBody">
<div class="head">
	<div class="mainhead">직 업</div>
	<div class="subhead">Class</div>
</div>
<div class="synergyMain">
	<div class="synergyBox" th:each="class : ${classChamp}">
	    <div th:each="class2 : ${classEff}" th:if="${class.key.korname == class2.key}">
	        <div class="synergyName">
	        	<img class="synergyImage" th:src="@{/image/synergy_white/}+|${class.key.korname}.svg|" th:alt="${class.key.korname}">
	        	<span th:text="${class.key.korname}"></span>
	        </div>
	        <div class="champions">
		        <div class="championDetail" th:each="cham : ${class.value}">
		        	<a th:href="@{'/cham/detailCham/'+${cham.engname}}">
		        		<img class="chamImage"  th:src="@{/image/champion/}+|${cham.engname}.png|" th:alt="${cham.korname}">
		        	</a>
		        	<span th:utext="|<br>${cham.korname}|"></span>	
		        </div>
	        </div>
	        <div class="synergyE" th:if="${(class.key.explan != NULL)}">
	        	<a th:utext="${class.key.explan}"></a>
	        </div>
	        <div class="synergyE">
	        	<a class="explan">시너지 효과</a><br>
	        	<a th:each="eff : ${class2.value}" th:utext="|(${eff.member}) : ${eff.effect}<br>|"></a>
	        </div>
	    </div>
	</div>
</div>
<p class="copyright">
    © Nautilus. All Rights Reserved.
</p>
<div id="gotop">
	<a href="#head"><img src="/image/etc/gotop.svg"></a>
</div>
</main>
</body>
</html>