<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>챔피언</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/detail_cham.css}" type="text/css">
</head>
<body>
	<div>
		<h3>챔피언 검색</h3>
		<form class="form-inline" method="GET" th:action="@{/cham/chamList}">
  			<div class="form-group mx-sm-3 mb-2">
    			<label for="searchText" class="sr-only">검색</label>
    			<input type="text" class="form-control" id="searchText" name="searchText" placeholder="챔피언 이름">
  			</div>
  			<button type="submit" class="btn btn-light mb-2">검색</button>
		</form>
	</div>

	<div class="container" th:object="${cham}">
		<div class="champion-detail">
			<div class="champion-detail-header">
				<div class="guide-champion-detail__header__background" style="background-image: url(//cdn.lolchess.gg/images/tft/champions/set7.5/splash/Graves.jpg)"></div>
				<img id="img_champion" th:src="@{/image/champion/}+|${cham.engName}.png|" th:alt="${cham.korname}">
				<span th:text="*{korname}"></span>
				

			</div>		
		</div>
	
		<div id="part_cost">
			<a>코스트 : </a>
			<img id="img_coin" th:src="@{/image/etc/coin.png}">
			<a th:text="*{cost1}"></a>
			<a th:text="*{cost2}"></a>
		</div>

		<div id="part_synergy">
			<div>
				<a>계열 : </a>
				<img class="img_synergy img_synergy_back img_synergy_size" th:src="@{/image/synergy_white/}+|*{origins1}.svg|">
				<a th:text="*{origins1}"></a>
				<img class="img_synergy" th:if="*{origins2} != NULL" th:src="@{/image/synergy_white/}+|*{origins2}.svg|">
				<a th:text="*{origins2}"></a>
			</div>
			<div>
				<a>직업 : </a>
				<img class="img_synergy" th:src="@{/image/synergy_white/}+|*{classes1}.svg|">
				<a th:text="*{classes1}"></a>
				<img class="img_synergy" th:if="*{classes2} != NULL" th:src="@{/image/synergy_white/}+|*{classes2}.svg|">
				<a th:text="*{classes2}"></a>
			</div>
		</div>
		
		<div id="part_spec">
			<a th:text="'체력: ' + *{health}"></a>
			<div th:text="'방어력: ' + *{defence}"></div>
			<div th:text="'마법 저항력: ' + *{mDefence}"></div>
			<div th:text="'공격력: ' + *{offense}"></div>
			<div th:text="'사거리: ' + *{attackrange}"></div>
			<div th:text="'공격속도: ' + *{attackSpeed}"></div>
		</div>
		
		<div id="part_skill">
			<img id="img_skill" th:src="@{/image/skill/}+|*{skillname}.png|">
			<a th:text="'스킬: ' + *{skillname} + ' | ' + *{skilltype}"></a>
			<div>
				<a>마나 : </a>
				<img id="img_mana" th:src="@{/image/etc/mana.png}">
				<a th:text="*{mana}"></a>
			</div>
			<div th:utext="*{skillcontent}"></div>
			<div th:utext="*{skilleffect}"></div>
		</div>

</div>


</body>
</html>