<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>챔피언</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/synergy.css}" type="text/css">
</head>
<body>
	<div>
		<h3>챔피언 검색</h3>
		<form class="form-inline" method="GET" th:action="@{/cham/chamList}">
  			<div class="form-group mx-sm-3 mb-2">
    			<label for="searchText" class="sr-only">검색</label>
    			<input type="text" class="form-control" id="searchText" name="searchText" placeholder="챔피언 이름">
  			</div>
  			<button type="submit" class="btn btn-light mb-2">검색</button>
		</form>
	</div>

	<div id="container" th:object="${cham}">
	<img class="chamImage" th:src="@{/image/champion/}+|${cham.engName}.png|" th:alt="${cham.korname}">
	<div th:text="*{korname}"></div>
	<tr>
		<td th:text="'코스트: ' + *{cost1}"></td>
		<td th:text="*{cost2}"></td>
		<td th:utext="'계열: ' + *{origins}"></td>
		<td th:utext="'직업: ' + *{classes}"></td>
		<td th:text="'체력: ' + *{health}"></td>
		<td th:text="'방어력: ' + *{defence}"></td>
		<td th:text="'마법 저항력: ' + *{mDefence}"></td>
		<td th:text="'공격력: ' + *{offense}"></td>
		<td th:text="'사거리: ' + *{attackrange}"></td>
		<td th:text="'공격속도: ' + *{attackSpeed}"></td>
		<td th:text="'스킬: ' + *{skillname}"></td>
		<td th:utext="*{skilltype}"></td>
		<td th:text="'마나: ' + *{mana}"></td>
		<td th:utext="*{skillcontent}"></td>
		<td th:utext="*{skilleffect}"></td>
	</tr>
</div>
</body>
</html>