<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>노틸러스 메인</title>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">

</script>

<!-- bootstrap css -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/topnavbar.css}" type="text/css">
	<link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
	
</head>

<body>
<body>
<nav id="head" class="navbar navbar-expand-lg topbar-main">
  <a class="navbar-brand ourBrand" href="/main/index">노틸러스</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="topbar-sub" href="/cham/chamList">챔피언</a>
      <div class="dropdown">
      <a class="topbar-sub">시너지</a>
	      <div class="dropdown-content">
	      	<a href="/syn/classes">직 업</a>
	      	<a href="/syn/origins">계 열</a>
	      	<a href="/syn/cheat">족 보</a>
	      </div>
	  </div>
      <a class="topbar-sub" href="/item/itempage">아이템</a>
      <a class="topbar-sub" href="/agm">증강</a>
      <a class="topbar-sub" href="#">게시판</a>
    </div>
  </div>
</nav>

<div class="main">
	<img class="mainImage" th:src="@{/image/etc/nautilus_main2.png}">
</div>

<div class="searchbar">
	<form method="POST" th:action="@{/main/search}">
		<div>챔피언/시너지 검색 </div>
		<input type="text" name="name" placeholder="챔피언/시너지 검색">
		<button type="submit">검색</button>
	</form>
</div>

<div class="col col-sm-4">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/SiqNVwkXCls" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
	    </div>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/b9YBj_TZw2E" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>

	</div>
</div>
<p class="copyright">
    © Nautilus. All Rights Reserved.
</p>
</body>
</html>