<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<title>Origin page</title>

<!-- bootstrap css -->
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/synergy.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
<link rel="stylesheet" th:href="@{/css/topnavbar.css}" type="text/css">
</head>

<body>
<nav class="navbar navbar-expand-lg topbar-main">
  <a class="navbar-brand ourBrand" href="/main/index">노틸러스</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="topbar-sub" href="/main/index">메  인</a>
      <div class="dropdown">
      <a class="topbar-sub">시너지</a>
	      <div class="dropdown-content">
	      	<a href="/syn/classes">직 업</a>
	      	<a href="/syn/origins">계 열</a>
	      	<a href="/syn/cheat">족 보</a>
	      </div>
	  </div>
      <a class="topbar-sub" href="#">아이템</a>
      <a class="topbar-sub" href="#">증  강</a>
      <a class="topbar-sub" href="#">게시판</a>
    </div>
  </div>
</nav>

<main class="synergyBody">
<div class="head">
	<div class="mainhead">계 열</div>
	<div class="subhead">Origins</div>
</div>
<div class="synergyMain">
	<div class="synergyBox" th:each="origin : ${originChamp}">
	    <div th:each="origin2 : ${originEff}" th:if="${origin.key.korName == origin2.key}">
	        <div class="synergyName">
	        	<img class="synergyImage" th:src="@{/image/synergy_white/}+|${origin.key.korName}.svg|" th:alt="${origin.key.korName}">
	        	<span th:text="${origin.key.korName}"></span>
	        </div>
	        <div class="champions" >
		        <div class="championDetail" th:each="cham : ${origin.value}">
		        	<a th:href="@{'/cham/detailCham/'+${cham.engName}}">
		        		<img class="chamImage"  th:src="@{/image/champion/}+|${cham.engName}.png|" th:alt="${cham.korname}">
		        	</a>
		        	<a class="chamName" th:utext="|<br>${cham.korname}|"></a>	
		        </div>
	        </div>
	        <div class="synergy" th:if="${(origin.key.explan != NULL)}">
	        	<a th:utext="${origin.key.explan}"></a>
	        </div>
	        <div class="synergy">
	        	<a class="explan">시너지 효과</a><br>
	        	<a th:each="eff : ${origin2.value}" th:utext="|(${eff.member}) : ${eff.effect}<br>|"></a>
	        </div>
	    </div>
	</div>
</div>
</main>
</body>
</html>